.wrapper {
  /* All custom properties are placed here so that the calcultor component can change them*/
  /* MacOS Color Scheme */
  --numberColor: rgb(91, 92, 94);
  --numberColorActive: rgb(159, 160, 160);
  --operatorColor: rgb(255, 158, 11);
  --operatorColorActive: rgb(203, 125, 8);
  --functionColor: rgb(58, 59, 62);
  --displayColor: rgb(40, 40, 39);
  --fontColor: rgb(231, 231, 230);

  /* Size Variables */
  --buttonPadding: 0.5rem 0;
  --buttonWidth: 5vw;
  --buttonHeight: calc(1.1 * var(--buttonWidth));
  --buttonFontSize: 1.2rem;

  --displayHeight: var(--buttonWidth);
  --displayFontSize: var(--buttonWidth);
  --displayPadding: calc(var(--buttonWidth) * 0.33);

  /* Border Variables */
  --normalBorder: 1px solid black;
  --borderRadius: 10px;
  --outerBorder: 1px solid white;

  display: flex;
  flex-direction: column;

  border-left: var(--outerBorder);
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}

.wrapper:before {
  content: "";
  height: 1.25rem;
  background-color: var(--displayColor);
  border-right: var(--outerBorder);
  border-top: var(--outerBorder);
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
}

.display {
  padding: 0;
  margin: 0;
  font-weight: 200;
  display: flex;
  justify-content: flex-end;

  font-size: var(--displayFontSize);
  padding: 0 var(--displayPadding);
  background-color: var(--displayColor);
  border-right: var(--outerBorder);
  border-bottom: var(--normalBorder);
}

/* .button-row {
} */

.button-row:last-child {
  border-bottom: var(--outerBorder);
  border-bottom-right-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}

button {
  border-top: 0;
  border-left: 0;

  background-color: var(--numberColor);
  padding: var(--buttonPadding);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  border-bottom: var(--normalBorder);
  border-right: var(--normalBorder);
  color: var(--fontColor);
}

button:last-child {
  border-right: var(--outerBorder);
}

button:active {
  background-color: var(--numberColorActive);
}

button.active {
  border: 3px solid black !important;
}

.clicked {
  border: 2px solid black;
}

.operation {
  background-color: var(--operatorColor);
}

.operation:active {
  background-color: var(--operatorColorActive);
}

.function {
  background-color: var(--functionColor);
}

button.double {
  padding: var(--buttonPadding);
  width: calc(2 * var(--buttonWidth));
}

button.bottom-right {
  border-bottom-right-radius: var(--borderRadius);
}

button.bottom-left {
  border-bottom-left-radius: var(--borderRadius);
}
